<html>
    <head>
        <title>{%block head_title %}my app{% endblock %}</title>
    </head>

    <body>
        <h1>{% block heading %}{% endblock %}</h1>
        <p>
            You are at the <strong>NetMVC</strong> project layout 
            <a href="/traditional/hello_world">Go to the traditional project layout</a>
        </p>
        <nav>
            <ul>
                <li>
                    <a href="/NetMVC/NetMVC/HelloWorld">Hello world controller</a>
                </li>
                <li>
                    <a href="/NetMVC/NetMVC/heyYou">Hey you controller</a>
                </li>
            </ul>
        </nav>
        <div>
            {% block content %}{% endblock %}
        </div>
    </body>
</html>
